templates/email-enrichment-workflow.json
{
  "name": "LeadMagic Email Enrichment Workflow",
  "description": "Comprehensive email enrichment pipeline: validate emails, find additional contact information, and enrich profiles with professional data",
  "nodes": [
    {
      "parameters": {},
      "id": "f8b5c0d1-1a2b-3c4d-5e6f-7a8b9c0d1e2f",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "validateEmail",
        "email": "={{ $json.email }}"
      },
      "id": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Validate Email",
      "type": "n8n-nodes-leadmagic.leadMagic",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "leadMagicApi": {
          "id": "leadmagic-credentials",
          "name": "LeadMagic API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1d2e3f4-5a6b-7c8d-9e0f-1a2b3c4d5e6f",
              "leftValue": "={{ $json.deliverable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Email Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "profile",
        "operation": "emailToProfile",
        "work_email": "={{ $json.email }}"
      },
      "id": "c3d4e5f6-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Get Profile from Email",
      "type": "n8n-nodes-leadmagic.leadMagic",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {
        "leadMagicApi": {
          "id": "leadmagic-credentials",
          "name": "LeadMagic API"
        }
      }
    },
    {
      "parameters": {
        "resource": "profile",
        "operation": "findMobile",
        "searchMethod": "workEmail",
        "work_email": "={{ $json.email }}"
      },
      "id": "d4e5f6a7-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Find Mobile Number",
      "type": "n8n-nodes-leadmagic.leadMagic",
      "typeVersion": 1,
      "position": [1120, 200],
      "credentials": {
        "leadMagicApi": {
          "id": "leadmagic-credentials",
          "name": "LeadMagic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all enrichment data into a comprehensive contact record\nconst validationData = $input.first().json;\nconst profileData = $input.all()[1]?.json || {};\nconst mobileData = $input.all()[2]?.json || {};\n\nconst enrichedContact = {\n  // Original email validation\n  email: validationData.email,\n  email_valid: validationData.deliverable,\n  email_score: validationData.score,\n  \n  // Profile information\n  first_name: profileData.first_name || '',\n  last_name: profileData.last_name || '',\n  full_name: profileData.full_name || '',\n  job_title: profileData.job_title || '',\n  company: profileData.company || '',\n  location: profileData.location || '',\n  \n  // Contact information\n  mobile_number: mobileData.mobile_number || '',\n  \n  // Social profiles\n  social_profiles: profileData.social_profiles || [],\n  \n  // Enrichment metadata\n  enriched_at: new Date().toISOString(),\n  data_sources: ['email_validation', 'profile_lookup', 'mobile_finder']\n};\n\nreturn enrichedContact;"
      },
      "id": "e5f6a7b8-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Combine Enrichment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "message": "=Email {{ $json.email }} is invalid or undeliverable. Skipping enrichment."
      },
      "id": "f6a7b8c9-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Log Invalid Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email": {
      "main": [
        [
          {
            "node": "Email Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Valid?": {
      "main": [
        [
          {
            "node": "Get Profile from Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile from Email": {
      "main": [
        [
          {
            "node": "Find Mobile Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Mobile Number": {
      "main": [
        [
          {
            "node": "Combine Enrichment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Start": [
      {
        "email": "example@company.com"
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-06-27T05:40:00.000Z",
      "updatedAt": "2025-06-27T05:40:00.000Z",
      "id": "leadmagic-enrichment",
      "name": "LeadMagic Enrichment"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-06-27T05:40:00.000Z",
  "versionId": "1"
} 