templates/job-based-lead-generation.json
{
  "name": "LeadMagic Job-Based Lead Generation",
  "description": "Automated lead generation from job postings: find relevant jobs, extract company and contact information, validate leads, and build qualified prospect pipeline",
  "nodes": [
    {
      "parameters": {
        "interval": 3600,
        "intervalUnit": "seconds"
      },
      "id": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Hourly Job Scan",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "job",
        "operation": "searchJobs",
        "job_title": "Marketing Manager",
        "location": "United States",
        "date_posted": "last_week",
        "limit": 50
      },
      "id": "b2c3d4e5-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Search Marketing Jobs",
      "type": "n8n-nodes-leadmagic.leadMagic",
      "typeVersion": 1,
      "position": [460, 200],
      "credentials": {
        "leadMagicApi": {
          "id": "leadmagic-credentials",
          "name": "LeadMagic API"
        }
      }
    },
    {
      "parameters": {
        "resource": "job",
        "operation": "searchJobs",
        "job_title": "Sales Director",
        "location": "United States",
        "date_posted": "last_week",
        "limit": 50
      },
      "id": "c3d4e5f6-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Search Sales Jobs",
      "type": "n8n-nodes-leadmagic.leadMagic",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "leadMagicApi": {
          "id": "leadmagic-credentials",
          "name": "LeadMagic API"
        }
      }
    },
    {
      "parameters": {
        "resource": "job",
        "operation": "searchJobs",
        "job_title": "Software Engineer",
        "location": "United States",
        "date_posted": "last_week",
        "limit": 50
      },
      "id": "d4e5f6a7-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Search Tech Jobs",
      "type": "n8n-nodes-leadmagic.leadMagic",
      "typeVersion": 1,
      "position": [460, 400],
      "credentials": {
        "leadMagicApi": {
          "id": "leadmagic-credentials",
          "name": "LeadMagic API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "e5f6a7b8-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Combine Job Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f6a7b8c9-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
              "leftValue": "={{ $json.company_size }}",
              "rightValue": "10-50",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "a7b8c9d0-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
              "leftValue": "={{ $json.company_size }}",
              "rightValue": "51-200",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f6a7b8c9-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Filter by Company Size",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "company",
        "operation": "searchCompany",
        "searchMethod": "domain",
        "company_domain": "={{ $json.company_domain }}"
      },
      "id": "a7b8c9d0-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Get Company Details",
      "type": "n8n-nodes-leadmagic.leadMagic",
      "typeVersion": 1,
      "position": [1120, 200],
      "credentials": {
        "leadMagicApi": {
          "id": "leadmagic-credentials",
          "name": "LeadMagic API"
        }
      }
    },
    {
      "parameters": {
        "resource": "people",
        "operation": "findRole",
        "job_title": "Marketing Director",
        "searchMethod": "domain",
        "company_domain": "={{ $json.company_domain }}"
      },
      "id": "b8c9d0e1-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Find Marketing Contact",
      "type": "n8n-nodes-leadmagic.leadMagic",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "leadMagicApi": {
          "id": "leadmagic-credentials",
          "name": "LeadMagic API"
        }
      }
    },
    {
      "parameters": {
        "resource": "people",
        "operation": "findRole",
        "job_title": "HR Manager",
        "searchMethod": "domain",
        "company_domain": "={{ $json.company_domain }}"
      },
      "id": "c9d0e1f2-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Find HR Contact",
      "type": "n8n-nodes-leadmagic.leadMagic",
      "typeVersion": 1,
      "position": [1120, 400],
      "credentials": {
        "leadMagicApi": {
          "id": "leadmagic-credentials",
          "name": "LeadMagic API"
        }
      }
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "validateEmail",
        "email": "={{ $json.email }}"
      },
      "id": "d0e1f2a3-4b5c-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Validate Contact Email",
      "type": "n8n-nodes-leadmagic.leadMagic",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": {
        "leadMagicApi": {
          "id": "leadmagic-credentials",
          "name": "LeadMagic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Create qualified lead record from job and company data\nconst inputs = $input.all();\n\n// Extract data from different sources\nconst jobData = inputs.find(item => item.json.job_title) || { json: {} };\nconst companyData = inputs.find(item => item.json.company_name && !item.json.job_title) || { json: {} };\nconst marketingContact = inputs.find(item => item.json.job_title?.toLowerCase().includes('marketing')) || { json: {} };\nconst hrContact = inputs.find(item => item.json.job_title?.toLowerCase().includes('hr')) || { json: {} };\nconst emailValidation = inputs.find(item => item.json.deliverable !== undefined) || { json: {} };\n\n// Determine lead quality score\nconst calculateLeadScore = () => {\n  let score = 50; // Base score\n  \n  // Company factors\n  if (companyData.json.employee_count) score += 10;\n  if (companyData.json.funding_total > 1000000) score += 15;\n  if (companyData.json.growth_stage === 'scale') score += 10;\n  \n  // Contact factors\n  if (marketingContact.json.email && emailValidation.json.deliverable) score += 20;\n  if (hrContact.json.email) score += 10;\n  \n  // Job posting factors\n  if (jobData.json.job_type === 'full-time') score += 5;\n  if (jobData.json.salary_max > 80000) score += 10;\n  \n  return Math.min(score, 100);\n};\n\n// Create qualified lead\nconst qualifiedLead = {\n  // Lead identification\n  lead_id: `job_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n  source: 'job_posting',\n  lead_quality_score: calculateLeadScore(),\n  \n  // Company information\n  company_name: companyData.json.company_name || jobData.json.company_name || '',\n  company_domain: jobData.json.company_domain || '',\n  company_size: companyData.json.employee_count || jobData.json.company_size || '',\n  industry: companyData.json.industry || '',\n  location: companyData.json.location || jobData.json.location || '',\n  funding_stage: companyData.json.growth_stage || '',\n  total_funding: companyData.json.funding_total || 0,\n  \n  // Job information\n  job_title: jobData.json.job_title || '',\n  job_type: jobData.json.job_type || '',\n  job_posted_date: jobData.json.date_posted || '',\n  salary_range: `${jobData.json.salary_min || 0}-${jobData.json.salary_max || 0}`,\n  \n  // Primary contact (Marketing)\n  primary_contact: {\n    name: marketingContact.json.full_name || '',\n    email: marketingContact.json.email || '',\n    job_title: marketingContact.json.job_title || '',\n    profile_url: marketingContact.json.profile_url || '',\n    email_valid: emailValidation.json.deliverable || false,\n    email_score: emailValidation.json.score || 0\n  },\n  \n  // Secondary contact (HR)\n  secondary_contact: {\n    name: hrContact.json.full_name || '',\n    email: hrContact.json.email || '',\n    job_title: hrContact.json.job_title || '',\n    profile_url: hrContact.json.profile_url || ''\n  },\n  \n  // Lead metadata\n  discovered_date: new Date().toISOString(),\n  lead_status: 'new',\n  next_action: 'email_outreach',\n  notes: `Company is hiring ${jobData.json.job_title} - potential need for our services`\n};\n\nreturn qualifiedLead;"
      },
      "id": "e1f2a3b4-5c6d-7e8f-9a0b-1c2d3e4f5a6b",
      "name": "Create Qualified Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f2a3b4c5-6d7e-8f9a-0b1c-2d3e4f5a6b7c",
              "leftValue": "={{ $json.lead_quality_score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2a3b4c5-6d7e-8f9a-0b1c-2d3e4f5a6b7c",
      "name": "High Quality Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "Lead Pipeline"
        },
        "table": {
          "__rl": true,
          "value": "tblXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "Qualified Leads"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Lead ID",
              "fieldValue": "={{ $json.lead_id }}"
            },
            {
              "fieldId": "Company Name",
              "fieldValue": "={{ $json.company_name }}"
            },
            {
              "fieldId": "Quality Score",
              "fieldValue": "={{ $json.lead_quality_score }}"
            },
            {
              "fieldId": "Primary Contact",
              "fieldValue": "={{ $json.primary_contact.name }}"
            },
            {
              "fieldId": "Contact Email",
              "fieldValue": "={{ $json.primary_contact.email }}"
            },
            {
              "fieldId": "Job Title",
              "fieldValue": "={{ $json.job_title }}"
            },
            {
              "fieldId": "Company Size",
              "fieldValue": "={{ $json.company_size }}"
            },
            {
              "fieldId": "Lead Status",
              "fieldValue": "={{ $json.lead_status }}"
            },
            {
              "fieldId": "Discovered Date",
              "fieldValue": "={{ $json.discovered_date }}"
            }
          ]
        }
      },
      "id": "a3b4c5d6-7e8f-9a0b-1c2d-3e4f5a6b7c8d",
      "name": "Save High Quality Lead",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [2000, 200],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "subject": "🎯 New High-Quality Lead: {{ $json.company_name }}",
        "emailType": "html",
        "message": "<h2>🎯 New High-Quality Lead Alert</h2><h3>{{ $json.company_name }}</h3><p><strong>Quality Score:</strong> {{ $json.lead_quality_score }}/100</p><p><strong>Job Posting:</strong> {{ $json.job_title }}</p><p><strong>Company Size:</strong> {{ $json.company_size }}</p><h4>Primary Contact:</h4><p><strong>Name:</strong> {{ $json.primary_contact.name }}<br><strong>Email:</strong> {{ $json.primary_contact.email }}<br><strong>Title:</strong> {{ $json.primary_contact.job_title }}</p><h4>Why This is a Good Lead:</h4><ul><li>Company is actively hiring ({{ $json.job_title }})</li><li>Valid email contact found</li><li>Company fits target profile</li></ul><p><strong>Next Action:</strong> {{ $json.next_action }}</p><p><strong>Notes:</strong> {{ $json.notes }}</p><p><em>Discovered: {{ $json.discovered_date }}</em></p>",
        "options": {}
      },
      "id": "b4c5d6e7-8f9a-0b1c-2d3e-4f5a6b7c8d9e",
      "name": "Alert Sales Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2220, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "Lead Pipeline"
        },
        "table": {
          "__rl": true,
          "value": "tblYYYYYYYYYYYYYY",
          "mode": "list",
          "cachedResultName": "Low Priority Leads"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Lead ID",
              "fieldValue": "={{ $json.lead_id }}"
            },
            {
              "fieldId": "Company Name",
              "fieldValue": "={{ $json.company_name }}"
            },
            {
              "fieldId": "Quality Score",
              "fieldValue": "={{ $json.lead_quality_score }}"
            }
          ]
        }
      },
      "id": "c5d6e7f8-9a0b-1c2d-3e4f-5a6b7c8d9e0f",
      "name": "Archive Low Quality Lead",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [2000, 400],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable API"
        }
      }
    }
  ],
  "connections": {
    "Hourly Job Scan": {
      "main": [
        [
          {
            "node": "Search Marketing Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Sales Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Tech Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Marketing Jobs": {
      "main": [
        [
          {
            "node": "Combine Job Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Sales Jobs": {
      "main": [
        [
          {
            "node": "Combine Job Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search Tech Jobs": {
      "main": [
        [
          {
            "node": "Combine Job Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Combine Job Results": {
      "main": [
        [
          {
            "node": "Filter by Company Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Company Size": {
      "main": [
        [
          {
            "node": "Get Company Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find Marketing Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find HR Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Company Details": {
      "main": [
        [
          {
            "node": "Create Qualified Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Marketing Contact": {
      "main": [
        [
          {
            "node": "Validate Contact Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find HR Contact": {
      "main": [
        [
          {
            "node": "Create Qualified Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Contact Email": {
      "main": [
        [
          {
            "node": "Create Qualified Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Qualified Lead": {
      "main": [
        [
          {
            "node": "High Quality Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Quality Lead?": {
      "main": [
        [
          {
            "node": "Save High Quality Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Low Quality Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save High Quality Lead": {
      "main": [
        [
          {
            "node": "Alert Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-06-27T05:55:00.000Z",
      "updatedAt": "2025-06-27T05:55:00.000Z",
      "id": "leadmagic-lead-gen",
      "name": "LeadMagic Lead Generation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-06-27T05:55:00.000Z",
  "versionId": "1"
} 